@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Anton", sans-serif;
}

body {
  background-color: #444;
}

main {
  max-width: 1280px;
  margin: 1rem auto;
  width: 100%;
  display: flex;
}

/*Navigáció*/

nav ul {
  list-style-type: none;
  margin: 5px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

nav li a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Anton", sans-serif;
  font-size: 1.5rem;
}

nav li {
  margin: 5 10;
  padding: 20px;
  background-color: #222;
  border: 3px solid orange;
  text-align: center;
  width: 120%;
  transition: 0.5s;
}

nav li:hover {
  background-color: #333;
}

nav li:hover a {
  text-shadow: 1px 1px orange;
}

/*Űrlap design*/

article {
  color: white;
  width: 80%;
  margin: auto;
  padding: 30px;
  border: 3px solid orange;
  margin-left: 30px;
  background-color: black;
}

article h1 {
  text-align: center;
  margin-bottom: 50px;
}

article div {
  margin: 10px;
}

article button { 
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  color: white;
  padding: 10px;
  background-color: #222;
  border: 3px solid orange;
  text-align: center;
  width: 20%;
  transition: 0.5s;
}

textarea {
  margin: 20px 0px;
  height: 100px;
  width: 100%;
  padding: 20px;
}

p{
  padding: 10px 0px;
}

h1{
  letter-spacing: 2px;
  padding: 20px;
  background-color: #333;
}

h3{
  letter-spacing: 2px;
  padding: 20px 0px;
}

#nagydiv{
  border: 3px solid orange;
  padding: 20px;
  background-color: #333;
}

div{
  border: 1px solid orange;
  padding: 20px;
  background-color: black;
}

.chk{
  border: none;
  margin: 0%;
  padding: 2px;
}

.gombok{
  border: none;
  background-color: #333;
  margin: 20px  0px;
}