* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  max-width: 1280px;
  margin: auto;
  width: 80%;
  display: flex;
}

/*Navigáció*/

nav ul {
  list-style-type: none;
  margin: 5px;
  padding: 0;
}

nav li a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: black;
}

nav li {
  margin: 5 10;
  padding: 10px;
  background-color: bisque;
  border: 1px solid black;
  text-align: center;
}

/*Űrlap design*/

article {
  width: 80%;
  margin: auto;
  padding: 30px;
  border: 1px solid black;
  margin-left: 30px;
  background-color: rgba(218, 183, 160, 0.5);
}

article h1 {
  text-align: center;
  margin-bottom: 50px;
}

article div {
  margin: 10px;
}

article button {
  margin: 2px;
  padding: 10px;
  background-color: bisque;
}

textarea {
  width: 100%;
}
